<div class="container">
	<div class="row">
		<div class="col-md-5 offset-md-3 text-center login-title">
		  <% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
		</div>
	 </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3 text-center">
            <div class="account-wall group">

            		<%= form_tag sign_in_admin_index_path do %>
            			<div class="group">
										<%= label_tag :login %>
									</div>

									<div class="group">
										<%= text_field_tag :login %>
									</div>

									<div class="group">
										<%= label_tag :password %>
									</div>

									<div class="group">
										<%= password_field_tag :password %>
									</div>

									<div class="group">
										<%= submit_tag "Sign in", class: 'btn btn-success' %>
									</div>
									<%end%>

            </div>
        </div>
    </div>
</div>